@import url('https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #414141;
    line-height: 1.6em;
}
html{
    scroll-behavior:smooth;
}
body{
    
    font-size: 19px;
    font-family: sans-serif;
    background-color: #ffffee;
}
img{
    display: block;
    width: 100%;
}


.logo,.about-heading,.gallery-heading{
    font-size: 30px;
}
.logo,h1,.about-heading,.gallery-heading{
    font-family: 'Mali',cursive;
}
a{
    text-decoration: none;
}

header{
    
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #f5fbff;
   
    border-bottom: 20px solid #bfff9b;
   
}

.menu{
    list-style: none;
    
}
.menu>li{
    display: inline-block;
    padding: 0px 20px;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.5s;
}
.menu>li:hover{
    border-bottom: 4px solid #bfff9b;
}
.home,.about,.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffffee;
    
    padding: 20px;
}

.home-text,.about-text{
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
}
h1{
    font-size: 40px;
}
.home-img img{
    width: 394px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    
}
.gallery-heading,.about-heading,.footer{
 
    padding: 20px;
    text-align: center;
   margin-bottom: 40px;
    background-color: #f5fbff;
   
   border-bottom: 20px solid #bfff9b;
  
  

}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #569aff;
    border-radius: 50%;
    bottom: 40px;
    right: 20px;
    text-decoration:none ;
    text-align: center;
    line-height: 50px;
    
    

}
.gotopbtn i{
    color: white;
}
.gallery{
    display: flex;
    flex-wrap: wrap;   
  
}

.box{
    
    flex:auto;
    width: 250px;
    height: 350px;
    border: rgb(255, 255, 228) solid 5px;

}



.box img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: top;
    transition: box-shadow 0.3s ease;
}


.box:hover img{
    box-shadow: #ffffbc 6px -2px 16px 10px;
}
.content{
    height: 20%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    transition: border-bottom 0.3s ease;
}
.box:hover .content{
    border-bottom: 4px solid rgb(196, 255, 138);
    color: rgb(84, 168, 0);
}

.about{
    padding: 60px;
}
.about-text{
    text-align: left;
}
.about-img img{
    width: 350px;
    border-radius: 40px;
    margin-left: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.footer{
    height: 200px;

    display: flex;
    justify-content: center;
    
}
.footer-text{
    font-size: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #bfff9b;
  
}

.footer-img{
    width: 50px;
}
.footer>p{
    margin-left: 20px;
}
.footer-text:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: rgb(191, 255, 155,0.4) 5px 5px, rgba(191, 255, 155, 0.3) 10px 10px, rgba(191, 255, 155, 0.2) 15px 15px, rgba(191, 255, 155, 0.1) 20px 20px, rgba(191, 255, 155, 0.05) 25px 25px;
}



@media only screen and (max-width:749px){
   header{
      flex-direction: column;
     align-items:  space-between;
      padding: 50px;
  
   }
   .menu>li{
       padding: 0 10px;
   }
}
@media only screen and (max-width:394px){
    header{
        background-position: left;
    }
    .logo{
        text-align: center;
    }
    .menu>li{
        display: block;
    }
    .home-img img{
        width: 300px;
    }
    .about-img img{
        width: 200px;
    }
 }
 @media only screen and (max-width:500px){
   
    
    .box img{
        width: 100%;
        height: 80%;
        object-fit: contain;
        object-position: center;
        transition: box-shadow 0.3s ease;
    }
 }